body {
height: 100vh;
width: 100vw;
background-image: url("./fond.jpg");
position: relative;
font-family: 'Alfa Slab One', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
